<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MMU Sport Booking-My Bookings</title>
  <link rel="stylesheet" href="bookings.css" />
</head>
<body>
  <header>
      <div class="top-bar">
      <img src="MMU logo.png" alt="MMU Logo" class="logo" />
      <h1>MMU SPORTS BOOKING</h1>
      <div class="nav-right">
        
        <nav>
          <ul>
           <li><a href="bookings.html"><img src="image/booking.png" alt="booking" width="30" height="30"/><span>Bookings</span></a></li>
	    <li><a href="contactuspage.html"><img src="image/contactus.png" alt="contactus" width="30" height="30"/><span>Contact Us</span></a></li>
	    <li><a href="Mainpage.html"><img src="image/home.png" alt="home" width="30" height="30"/><span>Home</span></a></li>
	    <li><img src="image/user.png" alt="user" width = "30" height = "30"/><span>1231203350</span></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <section class="sub-header">
    <h2>My Bookings / <a href="Past.html">Past</a></h2>
  </section>

  <main>
    <table>
      <thead>
        <tr>
          <th>Court</th>
          <th>Date</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Volleyball (Court A)</td>
          <td>20/1/2025</td>
          <td>9 PM - 11 PM</td>
          <td><span class="confirm">Confirm</span></td>
        </tr>
      </tbody>
    </table>

  </main>
</body>
</html>
