<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MMU Sports Booking - Cart</title>
  <link rel="stylesheet" href="cart.css" />
</head>
<body>
  <header>
    <div class="top-bar">
      <img src="MMU logo.png" alt="MMU Logo" class="logo" />
      <h1>MMU SPORTS BOOKING</h1>
      <div class="nav-right">
        
        <nav>
          <ul>
            <li><a href="bookings.html"><img src="image/booking.png" alt="booking" width="30" height="30"/><span>Bookings</span></a></li>
	    <li><a href="contactuspage.html"><img src="image/contactus.png" alt="contactus" width="30" height="30"/><span>Contact Us</span></a></li>
	    <li><a href="Mainpage.html"><img src="image/home.png" alt="home" width="30" height="30"/><span>Home</span></a></li>
	    <li><img src="image/user.png" alt="user" width = "30" height = "30"/><span>1231203350</span></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <section class="sub-header">
    <img src="image/cart.png" width = "60" height = "60"alt="Cart Icon" />
    <h2>Cart</h2>
  </section>

  <main>
    <table>
      <thead>
        <tr>
          <th>Court</th>
          <th>Date</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Volleyball (Court A)</td>
          <td>20/1/2025</td>
          <td>9 PM - 11 PM</td>
          <td><button class="remove-btn">Remove</button></td>
        </tr>
      </tbody>
    </table>

    <div class="checkout-container">
      <button class="checkout-btn" onclick="openModal()">Checkout</button>
    </div>

  <div class="modal" id="summaryModal">
    <div class="modal-content">
      <h2>MULTIMEDIA UNIVERSITY</h2>
      <p>Persiaran Multimedia, 63100 Cyberjaya, Selangor</p>
      <p>Tel: <u>1-300-80-0668</u></p>
      <p>Web: www.mmubookingsystem.com</p>
      <hr>
      <h2>Booking Summary</h2>
      <p><strong>Sport:</strong> Volleyball</p>
      <p><strong>Date:</strong> 20/1/2025</p>
      <p><strong>Time:</strong> 9PM-11PM</p>
      <p><strong>Venue:</strong> MMU Volleyball Court</p>
      <button class="done-btn" onclick="closeModal()">Done</button>
    </div>
  </div>

   </main>
<script src="cart.js"></script>
</body>
</html>