<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMU Sports Booking - Contact Us</title>
    <link rel="stylesheet" href="contactus.css">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Inter&family=Karla&family=Jersey+10&display=swap" rel="stylesheet">
</head>
<body>
   <header>
       <div class="top-bar">
      <img src="MMU logo.png" alt="MMU Logo" class="logo" />
      <h1>MMU SPORTS BOOKING</h1>
      <div class="nav-right">
        
        <nav>
          <ul>
           <li><a href="bookings.html"><img src="image/booking.png" alt="booking" width="30" height="30"/><span>Bookings</span></a></li>
	    <li><a href="contactuspage.html"><img src="image/contactus.png" alt="contactus" width="30" height="30"/><span>Contact Us</span></a></li>
	    <li><a href="Mainpage.html"><img src="image/home.png" alt="home" width="30" height="30"/><span>Home</span></a></li>
	    <li><img src="image/user.png" alt="user" width = "30" height = "30"/><span>1231203350</span></li>

          </ul>
        </nav>
      </div>
    </div>
        </header>
        
        <h2 class="page-title">Contact Us</h2>
        
        <main class="contact-section">
            <div class="form-links">
                <section class="form-box">
                    <h3>Complaint</h3>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfcN4o41DxtpneR7hB7lDMvRxBu8iOGyoaze6mnunD6l9eoBQ/viewform" class="form-link">Submit a Complaint</a>
                </section>
                
                <section class="form-box">
                    <h3>Maintenance Request</h3>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSf2Z_NVS7AxaRHN_7XfP6W-e7ZE_Xya-a4mdL749gNSS0PRNQ/viewform" class="form-link">Request Maintenance</a>
                </section>
                
                <section class="form-box">
                    <h3>Feedback</h3>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdLdR_mXPLcegsZoUFVjkJJxNGPw_QoGAJImMjDK3kkMYg8Ww/viewform" class="form-link">Give Feedback</a>
                </section>
            </div>
            
            <aside class="contact-info">
                <h3>MMU Contact Number:</h3>
                <p>+1-300-80-0668</p>
                <h3>Person in Charge</h3>
                <p>+6011-1111-1111</p>
            </aside>
        </main>
    </div>
</body>
</html>