<!DOCTYPE html>

<head>
  
  <title>Add Blacklist</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  
</head>
<body>
  <div class="blacklist-container">
    <h2>Add Blacklist</h2>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="e.g xxxxxxxxxx@student.mmu.edu.my">
    </div>

    <div class="form-group">
      <label for="reason">Reasons</label>
      <input type="text" id="reason" placeholder="e.g Violation of Facility Rules">
    </div>

    <div class="buttons">
      <button class="btn-confirm">Confirm</button>
      <a href="user_management.html" class="btn-cancel">Cancel</a>
    </div>
  </div>
</body>
</html>

